h3{
    color: rebeccapurple;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#contenedor{
    position: relative;
    border-radius: 10px;
    border: 2px solid black;
    width: 80%;
    height: 20rem;
    overflow: hidden;
    align-items: center;
    

}
li:hover {
color: orange;
}
li{
    cursor: pointer;
}